.App {
  text-align: center;
}

.ArticlesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding: 10px;
}

@media only screen and (max-width: 900px) {
  .ArticlesList {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .ArticlesList {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    padding: 10px;
  }
}
